.ui.container {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(233, 233, 241);
}

.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

.ui.car.image {  
  height: auto;
  width: 40%;
}

.ui.avatar.image {
  width: 100px;
  height: 100px;
}

.ui.card.centered {
  width: 80%;
  height: auto;
}

.image {
  width: 100%;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}

